/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
  display: block;
    min-width: 200px;
    max-width: 25%;
    bottom: 0;
    background: #ffffff;
    color: #6936F5;
    transition: all 0.3s;
    height: 100vh;
    position: fixed; /* Add position: fixed to fix the sidebar's position */
    top: 0; /* Position the sidebar at the top of the viewport */
    left: 0; /* Position the sidebar at the left of the viewport */
    overflow-y: auto; /* Add overflow-y: auto to enable scrolling within the sidebar if needed */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding:  1px;
    border-bottom: 1px solid #ffffff;
   
}

#sidebar ul li a {
    padding: 14%;
    
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #6936F5;
    font-family: 'Poppins', sans-serif;
    background: #fdfdfd;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.side-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#bottom-nav {
    display: none;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.bottom-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    list-style: none; 
}

.bottom-icon {
    width: 30px;
    height: 30px;
}

#top-nav {
  display: none;
  background: #ffffff;
  
  width: 100%;
}

@media (max-width: 770px) {
    #sidebar {
        display: none;
    }

    #bottom-nav {
        display: block;
    }
    #top-nav{
      display: block;
    }
}